<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Number:</b>
  <%= @unit.number %>
</p>

<p>
  <b>Numberofrooms:</b>
  <%= @unit.numberofrooms %>
</p>

<% @apartmentcomplexes.each do |apartmentcomplex| %>
<div align="center">
<select name="dropdown">
<option><%= apartmentcomplex.name %></option>
</select>
</div> 
<p>
  <b>Apartmentcomplex:</b>
  <%= @unit.apartmentcomplex %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
